/* font-family: 'Cedarville Cursive', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

/* { color: #B0C1D9; }
{ color: #3B4B59; }
{ color: #8EA8BF; }
{ color: #D9BFA9; }
{ color: #0D0D0D; }
color: #396EB0;
color: #D3BD9A;
color: #203239;
#154c79
#063970
#e28743
#76b5c5
#1e81b0
#eeeee4
#c9c6ac
#eab676 */
/* h1 {
  font-size: 5rem;
  text-align: center;
  height: 90vh;
  line-height: 90vh;
  color: #fcedd8;
  background-color: #263238;
  font-family: "Niconne", cursive;
  font-weight: 700;
  text-shadow: 5px 5px 0 #eb452b, 10px 10px 0 #efa032, 15px 15px 0 #46b59b,
    20px 20px 0 #017e7f, 25px 25px 0 #052939, 30px 30px 0 #c11a2b;
} */
html {
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
}

/* confetti */
.js-container {
  height: 100%;
}

@keyframes confetti-slow {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }

  100% {
    transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
  }
}

@keyframes confetti-medium {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }

  100% {
    transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
  }
}

@keyframes confetti-fast {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }

  100% {
    transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
  }
}

.confetti-container {
  perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.confetti {
  position: absolute;
  z-index: 1;
  top: -10px;
  border-radius: 100%;
}

.confetti--animation-slow {
  animation: confetti-slow 5.25s linear 1 forwards;
}

.confetti--animation-medium {
  animation: confetti-medium 3.75s linear 1 forwards;
}

.confetti--animation-fast {
  animation: confetti-fast 2.25s linear 1 forwards;
}

/* confetti */
/* navigation bar */
.navbar {
  background-color: #eeeee4;
}



@media (max-width:1440px) {
  .navbar {}

  .nav-link {
    font-size: 4rem;
    font-family: 'Dancing Script', cursive;
    text-align: right;

  }
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  font-weight: bold;
  padding-left: 5%;
  color: #063970;
  height: auto;
}

.nav-item {
  padding: 0 18px;
  color: #063970;
}

.nav-link {
  font-size: 1rem;
  font-family: 'Dancing Script', cursive;
  text-align: left;
  color: #063970;
}



/* navbar */
/* div 1 */
#div1 {
  background-color: white;
  text-align: center;
  /* background-image: url("background4.png"); */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

.div1-h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  padding-top: 3%;
  padding-bottom: 2.5%;
  color: #063970;
}

.div1-row {
  padding: 5%;
}

.icon {
  font-size: 3rem;
  padding: 5%;
  color: #396EB0;
}

.icon:hover {
  color: #063970;
}

.div1-smallHeading {
  font-size: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #063970;
  font-weight: bold;
}

.div1-text {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  color: #063970;
}

/* div2 */
#div2 {
  background-color: #eeeee4;
  text-align: center;
}
.card{


}
.div2-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 6rem;
  background-color: #063970;
  padding: 1%;

}

.div2-img:hover {
  opacity: 0.7;
}

.divImg {
  margin: 0;
}

.div2-text {
  padding-top: 100px;
  /* padding-bottom: 100px; */
  padding-right: 5%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.5px;
  line-height: 2.5rem;
  color: #063970;
}

.div2-text-wish {
  /* font-family: 'Source Sans Pro', sans-serif, bold; */
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: #063970;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 10%;
}

/* @media (max-width:1028px) {
  .div2-text {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: normal;
  }

  .div2-text-wish {
    font-size: 3.5rem;
  }
} */

/* div3 */
#div3 {
  background-color: #063970;
  text-align: center;
  /* background-image: url("background4.png"); */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

.testimonial-text {
  padding: 3%;
  font-family: 'Dancing Script', cursive;
  color: #eeeee4;
  letter-spacing: 0.1rem;
}

.carousel-image {
  width: 30%;
  border-radius: 50%;
  background-color: #eeeee4;
  padding: 0.1rem;
}

.carousel-text {
  padding: 3%;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  color: #eeeee4;
}

@media (max-width:1028px) {
  .testimonial-text {
    font-size: 3rem;
  }

  .carousel-text {
    font-size: 2rem;
  }
}

/* div4 */
#div4 {
  background-color: white;
  margin-right: 10px;
  margin-left: 10px;
  /* flip cards */
}

.div4-heading {
  font-family: 'Dancing Script', cursive;
  color: #063970;
  letter-spacing: 0.1rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.div4-sizing {
  padding-top: 5%;
  padding-bottom: 5%;
}

.container {
  transform-style: preserve-3d
}

.container .box {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer
}

.container .box .body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.9s ease
}

.container .box .body .imgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d
}

.container .box .body .imgContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover
}

.container .box .body .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #063970;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg)
}

.container .box:hover .body {
  transform: rotateY(180deg)
}

.container .box .body .content div {
  transform-style: preserve-3d;
  padding: 20px;
  background: linear-gradient(45deg, #C3B091, #FFE6BC);
  transform: translateZ(100px)
}

.container .box .body .content div h3 {
  letter-spacing: 1px
}

.flipcard-image {
  background-color: #063970;
  padding: 0.3rem;
}

.div4-flipheading {
  font-family: 'Dancing Script', cursive;
  color: #063970;
}

.div4-text {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
  color: #063970;
}
@media (max-width:1028px){
.div4-flipheading{
  font-size: 2rem;
}
.div4-text{
  font-size: 3rem;
}
}
/* flip cards */
/* div5 */
#div5 {
  padding: 5%;
  background-color: #eeeee4;
}

.div5-mainHeading {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 0.1rem;
  font-size: 3rem;
  margin-bottom: 5%;
  color: #063970;
}

.topRow {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 5%;
  padding-bottom: 5%;
  border: 10px solid #eeeee4;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #063970;
  font-family: 'Source Sans Pro', sans-serif;
  color: #eeeee4;
}

.div5-smallHeading {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin-left: 7%;
  margin-right: 7%;
}

@media (max-width:1028px) {
  .div5-smallHeading {
    font-size: 2rem;
  }
}

.div5-buttons {
  background: #e28743;
  background-image: -webkit-linear-gradient(top, #c9c6ac, #eab676);
  background-image: -moz-linear-gradient(top, #c9c6ac, #eab676);
  background-image: -ms-linear-gradient(top, #c9c6ac, #eab676);
  background-image: -o-linear-gradient(top, #c9c6ac, #eab676);
  background-image: linear-gradient(to bottom, #c9c6ac, #eab676);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  -webkit-box-shadow: 4px 4px 9px #666666;
  -moz-box-shadow: 4px 4px 9px #666666;
  box-shadow: 4px 4px 9px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 25px;
  padding: 10px;
  margin-top: 10%;
  border: solid #1f628d 0px;
  text-decoration: none;
}

.div5-buttons:hover {
  background: #eab676;
  background-image: -webkit-linear-gradient(top, #eab676, #c9c6ac);
  background-image: -moz-linear-gradient(top, #eab676, #c9c6ac);
  background-image: -ms-linear-gradient(top, #eab676, #c9c6ac);
  background-image: -o-linear-gradient(top, #eab676, #c9c6ac);
  background-image: linear-gradient(to bottom, #eab676, #c9c6ac);
  text-decoration: none;
}

footer {
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: #063970;
}

.footer-text {
  font-family: 'Dancing Script', cursive;
  color: white;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 1px;
}

/* inner pages */
.innerpagesHeading {
  font-family: 'Dancing Script', cursive;
  font-size: 5.5rem;
  font-weight: bold;
  padding-top: 4%;
  padding-bottom: 2.5%;
  color: #063970;
}

.innerpagestext {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 20%;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.5px;
  line-height: 2.5rem;
  color: #063970;
}

.innerpageFooter {
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: #063970;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
}

/* inner pages */
